<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\Temp\TestDocuments\NLog\vitals.log"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Targets.Gelf"/>
	</extensions>

	<variable name="appName" value="TestAppWithNLog"/>

	<targets>
		<target name="Console"
				xsi:type="Console"
				layout="${longdate} [${level}] ${message}"
				/>

		<!-- This target only works for UDP -->
		<!-- This target is really old (2016), but it's the official release from NLog -->
		<!-- It may cause trouble, because it was not developed with .NET standard but for .NET framework in mind-->
		<target name="gelf"
			  xsi:type="gelf"
			  endpoint="udp://localhost:12201"
			  facility="console-runner"
			  sendLastFormatParameter="true">

			<parameter name="ThreadId"		layout="${threadid}" as="number"/>
			<parameter name="ProcessId"		layout="${processId}" as="number"/>
			<parameter name="MachineName"	layout="${machinename}" />
			<parameter name="Framework"		layout="NLog" />
			<parameter name="Callsite"		layout="${callsite}"/>
		</target>
	</targets>

	<rules>
		<logger name="*" writeTo="Console" minlevel="Info"/>
		<logger name="*" writeTo="gelf" minlevel="Trace"/>
	</rules>
</nlog>