<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\Temp\TestDocuments\NLog\vitals.log"
      internalLogLevel="Info">

	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<variable name="appName" value="TestAppWithNLog"/>

	<targets>
		<target name="Console"
				xsi:type="Console"
				layout="${longdate} [${level}] ${message}"
				/>

		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
				<property name="ThreadId" value="${threadid}" as="number"/>
				<property name="ProcessId" value="${processId}" as="number"/>
				<property name="MachineName" value="${machinename}" />
				<property name="Framework" value="NLog" />
				<property name="Callsite" value="${callsite}"/>
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" writeTo="Console" minlevel="Info"/>
		<logger name="*" writeTo="seq" minlevel="Trace"/>
	</rules>
</nlog>