<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\Temp\TestDocuments\NLog\vitals.log"
      internalLogLevel="Info">

	<variable name="appName" value="TestAppWithNLog"/>

	<extensions>
		<add assembly="NLog.StructuredLogging.Json" />
	</extensions>

	<targets>
		<target name="Console"
				xsi:type="Console"
				layout="${longdate} [${level}] ${message}"
				/>

		<target name="PerformanceFile" 
				xsi:type="AsyncWrapper" 
				timeToSleepBetweenBatches="0"
				overflowAction="Block"
				batchSize="500">
			<target name="Logfile"
				xsi:type="File"
				fileName="C:\Temp\TestDocuments\NLog\log.json"
				layout="${structuredLogging.json}"
				/>
		</target>
		
	</targets>

	<rules>
		<logger name="*" writeTo="Console" minlevel="Info"/>
		<logger name="*" writeTo="PerformanceFile" minlevel="Trace"/>
	</rules>
</nlog>